# ETL Project

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
state_pop = "Resources/statepop.csv"

In [3]:
# Create the data frame
state_pop_data = pd.read_csv(state_pop)

In [4]:
# View the data frame
state_pop_data.head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68316744
3,20,3,0,0,South Region,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126662754
4,20,4,0,0,West Region,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78654756
5,40,3,6,1,Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
6,40,4,9,2,Alaska,710231,710246,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,731158
7,40,4,8,4,Arizona,6392017,6392292,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401
8,40,3,7,5,Arkansas,2915918,2916029,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3030522
9,40,4,9,6,California,37253956,37254522,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39368078

In [5]:
# Select the columns
state_pop_data = state_pop_data[["NAME", "POPESTIMATE2020"]]

# View the new data frame
state_pop_data.head()

               NAME  POPESTIMATE2020
0     United States        329484123
1  Northeast Region         55849869
2    Midwest Region         68316744
3      South Region        126662754
4       West Region         78654756

In [6]:
# Rename the columns
state_pop_data.columns=["State_Name", "2020_POP"]

# View the data
state_pop_data

              State_Name   2020_POP
0          United States  329484123
1       Northeast Region   55849869
2         Midwest Region   68316744
3           South Region  126662754
4            West Region   78654756
5                Alabama    4921532
6                 Alaska     731158
7                Arizona    7421401
8               Arkansas    3030522
9             California   39368078
10              Colorado    5807719
11           Connecticut    3557006
12              Delaware     986809
13  District of Columbia     712816
14               Florida   21733312
15               Georgia   10710017
16                Hawaii    1407006
17                 Idaho    1826913
18              Illinois   12587530
19               Indiana    6754953
20                  Iowa    3163561
21                Kansas    2913805
22              Kentucky    4477251
23             Louisiana    4645318
24                 Maine    1350141
25              Maryland    6055802
26         Massachusetts    6893574
27              Michigan    9966555
28             Minnesota    5657342
29           Mississippi    2966786
30              Missouri    6151548
31               Montana    1080577
32              Nebraska    1937552
33                Nevada    3138259
34         New Hampshire    1366275
35            New Jersey    8882371
36            New Mexico    2106319
37              New York   19336776
38        North Carolina   10600823
39          North Dakota     765309
40                  Ohio   11693217
41              Oklahoma    3980783
42                Oregon    4241507
43          Pennsylvania   12783254
44          Rhode Island    1057125
45        South Carolina    5218040
46          South Dakota     892717
47             Tennessee    6886834
48                 Texas   29360759
49                  Utah    3249879
50               Vermont     623347
51              Virginia    8590563
52            Washington    7693612
53         West Virginia    1784787
54             Wisconsin    5832655
55               Wyoming     582328

In [7]:
# Check values
state_pop_data.count()

State_Name    56
2020_POP      56
dtype: int64

In [8]:
# Check the data types
state_pop_data.dtypes

State_Name    object
2020_POP       int64
dtype: object

In [9]:
# Drop the country and regions
state_pop_data = state_pop_data[5:56]

# View the data
state_pop_data

              State_Name  2020_POP
5                Alabama   4921532
6                 Alaska    731158
7                Arizona   7421401
8               Arkansas   3030522
9             California  39368078
10              Colorado   5807719
11           Connecticut   3557006
12              Delaware    986809
13  District of Columbia    712816
14               Florida  21733312
15               Georgia  10710017
16                Hawaii   1407006
17                 Idaho   1826913
18              Illinois  12587530
19               Indiana   6754953
20                  Iowa   3163561
21                Kansas   2913805
22              Kentucky   4477251
23             Louisiana   4645318
24                 Maine   1350141
25              Maryland   6055802
26         Massachusetts   6893574
27              Michigan   9966555
28             Minnesota   5657342
29           Mississippi   2966786
30              Missouri   6151548
31               Montana   1080577
32              Nebraska   1937552
33                Nevada   3138259
34         New Hampshire   1366275
35            New Jersey   8882371
36            New Mexico   2106319
37              New York  19336776
38        North Carolina  10600823
39          North Dakota    765309
40                  Ohio  11693217
41              Oklahoma   3980783
42                Oregon   4241507
43          Pennsylvania  12783254
44          Rhode Island   1057125
45        South Carolina   5218040
46          South Dakota    892717
47             Tennessee   6886834
48                 Texas  29360759
49                  Utah   3249879
50               Vermont    623347
51              Virginia   8590563
52            Washington   7693612
53         West Virginia   1784787
54             Wisconsin   5832655
55               Wyoming    582328

In [10]:
# Drop the District of Columbia row
state_pop_data = state_pop_data.drop(index=13)

# View the data
state_pop_data

        State_Name  2020_POP
5          Alabama   4921532
6           Alaska    731158
7          Arizona   7421401
8         Arkansas   3030522
9       California  39368078
10        Colorado   5807719
11     Connecticut   3557006
12        Delaware    986809
14         Florida  21733312
15         Georgia  10710017
16          Hawaii   1407006
17           Idaho   1826913
18        Illinois  12587530
19         Indiana   6754953
20            Iowa   3163561
21          Kansas   2913805
22        Kentucky   4477251
23       Louisiana   4645318
24           Maine   1350141
25        Maryland   6055802
26   Massachusetts   6893574
27        Michigan   9966555
28       Minnesota   5657342
29     Mississippi   2966786
30        Missouri   6151548
31         Montana   1080577
32        Nebraska   1937552
33          Nevada   3138259
34   New Hampshire   1366275
35      New Jersey   8882371
36      New Mexico   2106319
37        New York  19336776
38  North Carolina  10600823
39    North Dakota    765309
40            Ohio  11693217
41        Oklahoma   3980783
42          Oregon   4241507
43    Pennsylvania  12783254
44    Rhode Island   1057125
45  South Carolina   5218040
46    South Dakota    892717
47       Tennessee   6886834
48           Texas  29360759
49            Utah   3249879
50         Vermont    623347
51        Virginia   8590563
52      Washington   7693612
53   West Virginia   1784787
54       Wisconsin   5832655
55         Wyoming    582328

In [11]:
# Reindex the data frame
state_pop_data.reset_index(inplace=True, drop=True)
print(state_pop_data)

        State_Name  2020_POP
0          Alabama   4921532
1           Alaska    731158
2          Arizona   7421401
3         Arkansas   3030522
4       California  39368078
5         Colorado   5807719
6      Connecticut   3557006
7         Delaware    986809
8          Florida  21733312
9          Georgia  10710017
10          Hawaii   1407006
11           Idaho   1826913
12        Illinois  12587530
13         Indiana   6754953
14            Iowa   3163561
15          Kansas   2913805
16        Kentucky   4477251
17       Louisiana   4645318
18           Maine   1350141
19        Maryland   6055802
20   Massachusetts   6893574
21        Michigan   9966555
22       Minnesota   5657342
23     Mississippi   2966786
24        Missouri   6151548
25         Montana   1080577
26        Nebraska   1937552
27          Nevada   3138259
28   New Hampshire   1366275
29      New Jersey   8882371
30      New Mexico   2106319
31        New York  19336776
32  North Carolina  10600823
33    North Dakota    765309
34            Ohio  11693217
35        Oklahoma   3980783
36          Oregon   4241507
37    Pennsylvania  12783254
38    Rhode Island   1057125
39  South Carolina   5218040
40    South Dakota    892717
41       Tennessee   6886834
42           Texas  29360759
43            Utah   3249879
44         Vermont    623347
45        Virginia   8590563
46      Washington   7693612
47   West Virginia   1784787
48       Wisconsin   5832655
49         Wyoming    582328

In [12]:
# Generate row number from a constant of our choice to renumber the states after dropping some of the data
state_pop_data['State_ID'] = state_pop_data.index + 1
state_pop_data

        State_Name  2020_POP  State_ID
0          Alabama   4921532         1
1           Alaska    731158         2
2          Arizona   7421401         3
3         Arkansas   3030522         4
4       California  39368078         5
5         Colorado   5807719         6
6      Connecticut   3557006         7
7         Delaware    986809         8
8          Florida  21733312         9
9          Georgia  10710017        10
10          Hawaii   1407006        11
11           Idaho   1826913        12
12        Illinois  12587530        13
13         Indiana   6754953        14
14            Iowa   3163561        15
15          Kansas   2913805        16
16        Kentucky   4477251        17
17       Louisiana   4645318        18
18           Maine   1350141        19
19        Maryland   6055802        20
20   Massachusetts   6893574        21
21        Michigan   9966555        22
22       Minnesota   5657342        23
23     Mississippi   2966786        24
24        Missouri   6151548        25
25         Montana   1080577        26
26        Nebraska   1937552        27
27          Nevada   3138259        28
28   New Hampshire   1366275        29
29      New Jersey   8882371        30
30      New Mexico   2106319        31
31        New York  19336776        32
32  North Carolina  10600823        33
33    North Dakota    765309        34
34            Ohio  11693217        35
35        Oklahoma   3980783        36
36          Oregon   4241507        37
37    Pennsylvania  12783254        38
38    Rhode Island   1057125        39
39  South Carolina   5218040        40
40    South Dakota    892717        41
41       Tennessee   6886834        42
42           Texas  29360759        43
43            Utah   3249879        44
44         Vermont    623347        45
45        Virginia   8590563        46
46      Washington   7693612        47
47   West Virginia   1784787        48
48       Wisconsin   5832655        49
49         Wyoming    582328        50

In [13]:
# Rearrange the column of dataframe by column name in pandas python
state_pop_data = state_pop_data[['State_ID', 'State_Name', '2020_POP']]
state_pop_data.columns = ['state_id', 'state', 'pop']
print(state_pop_data)

    state_id           state       pop
0          1         Alabama   4921532
1          2          Alaska    731158
2          3         Arizona   7421401
3          4        Arkansas   3030522
4          5      California  39368078
5          6        Colorado   5807719
6          7     Connecticut   3557006
7          8        Delaware    986809
8          9         Florida  21733312
9         10         Georgia  10710017
10        11          Hawaii   1407006
11        12           Idaho   1826913
12        13        Illinois  12587530
13        14         Indiana   6754953
14        15            Iowa   3163561
15        16          Kansas   2913805
16        17        Kentucky   4477251
17        18       Louisiana   4645318
18        19           Maine   1350141
19        20        Maryland   6055802
20        21   Massachusetts   6893574
21        22        Michigan   9966555
22        23       Minnesota   5657342
23        24     Mississippi   2966786
24        25        Missouri   6151548
25        26         Montana   1080577
26        27        Nebraska   1937552
27        28          Nevada   3138259
28        29   New Hampshire   1366275
29        30      New Jersey   8882371
30        31      New Mexico   2106319
31        32        New York  19336776
32        33  North Carolina  10600823
33        34    North Dakota    765309
34        35            Ohio  11693217
35        36        Oklahoma   3980783
36        37          Oregon   4241507
37        38    Pennsylvania  12783254
38        39    Rhode Island   1057125
39        40  South Carolina   5218040
40        41    South Dakota    892717
41        42       Tennessee   6886834
42        43           Texas  29360759
43        44            Utah   3249879
44        45         Vermont    623347
45        46        Virginia   8590563
46        47      Washington   7693612
47        48   West Virginia   1784787
48        49       Wisconsin   5832655
49        50         Wyoming    582328

In [14]:
# Output clean data frame to csv
state_population = "Resources/statepop(clean).csv"
state_pop_data.to_csv(state_population,index=False)

# Scrape the Senators from Ballotpedia Website

In [20]:
# Store the Ballotpedia URL
ballotpedia_url = "https://ballotpedia.org/List_of_current_members_of_the_U.S._Congress"

In [21]:
# Use Pandas to scrape Ballotpedia for tables
ballotpedia_tables = pd.read_html(ballotpedia_url)